body {
  margin: 0;
  font-family: "Indie Flower", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://cdn.hipwallpaper.com/i/14/67/90Tcgv.jpg");
  background-size: cover;
}

code {
  font-family: "Modak", cursive;
}
